@model ArticleWithCommentsViewModel

@{
    //var item = ViewData["model"] as ArticleDto;
    //var item = ViewBag.Model;
    ViewData["Title"] = "Article details";
}

<div>
    <h3>
        @Model.Article.Title
    </h3>
    <h5>
        @Model.Article.Category
    </h5>
    <p>
        @Model.Article.Text
    </p>
    <h6>
        @Model.Article.PublicationDate
    </h6>
</div>
<hr>

<div>
    <h3>Comments</h3>
    @foreach (var comment in Model.Comments)
    {
        <p>comment</p>
    }
</div>
