@model IEnumerable<ArticleDto>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if(Model.Any()){
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("ArticlePreview", item);
    }
}

@section CssStyles
{
    <style>
        h1{
            color: red;
        }
    </style>
}

@PaginatorHelper.GeneratePaginator()

