@using ASP.NET.MVC_Exprtiment.Core.DataTransferObjects;
@model LabelDto;

<div>
    <h2>
        @Html.DisplayFor(modelItem => Model.Name)
    </h2>
    <h6>
        @Html.DisplayFor(modelItem => Model.Id)
    </h6>
    <h4>
        @Html.DisplayFor(modelItem => Model.Url)
    </h4>
    <h3>
        @Html.DisplayFor(modelItem => Model.Description)
    </h3>
    <hr>
    <br>
</div>
