@model IEnumerable<UserDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Users</h1>

@if (Model.Any())
{
    @foreach (var item in Model)
    {
        <div>
            <h5>
                @Html.DisplayNameFor(model => model.UserName)
            </h5>
            <h5>
                @Html.DisplayNameFor(model => model.Email)
            </h5>
            <h6>
                @Html.DisplayNameFor(model => model.PasswordHash)
            </h6>
            <div>
                @Html.DisplayNameFor(model => model.Id)
            </div>
        </div>
    }
}



