@using ASP.NET.MVC_Exprtiment.Helpers;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<server-summary visible="true" style='new StyleInformation{Color = "#ff0000", BackgroundColor = "#ffff61"}'>
    <time></time>
    <server-information></server-information>
</server-summary>

