@model IEnumerable<ASP.NET.MVC_Exprtiment.Core.DataTransferObjects.BandDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Bands</h1>

<div class="d-grid gap-2">
    <a href="~/band/add" class="btn btn-primary" type="button">Add new band</a>
<div/>

<div class="row">
        @foreach (var item in Model)
        {
            await Html.RenderPartialAsync("BandPreview", item);
        }
</div>

<div class="row">
        <button class="btn btn-primary col-12 col-sm-10 col-md-6 col-lg-4 margin-bottom-15" 
        onclick="changeBackgroundColor()">Change background color of buttons</button>
</div>


@section CssStyles
{
    <style>
        h1{
            color:red;
            text-align: center;
        }
    </style>
}

@section Scripts
{
    <script src="~/js/dom-bands.js" asp-append-version="true"></script>
}