@model IEnumerable<ASP.NET.MVC_Exprtiment.Core.DataTransferObjects.BandDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Bands</h1>

<div class="d-grid gap-2">
    <a href="~/band/add" class="btn btn-primary" type="button">Add new band</a>
<div/>


@foreach (var item in Model)
{
    await Html.RenderPartialAsync("BandPreview", item);
}

@section CssStyles
{
    <style>
        h1{
            color:red;
            text-align: center;
        }
    </style>
}

